<div class="screen-wrapper">
  <div ng-if="!welcomeCtrl.idle" class="screen welcome fade-element-in">
    <div class="screen-container">
      <div ng-if="welcomeCtrl.current1.name" class="fade-element-in">
        <h1 style="" class="text-center">
          {{welcomeCtrl.current1.name}}
        </h1>
        <div class="image-container">
          <img alt="" ng-src="{{welcomeCtrl.getImage(welcomeCtrl.current1)}}"/>
        </div>
      </div>
      <div ng-if="welcomeCtrl.current2.name" class="fade-element-in">
        <h1 class="text-center">
          {{welcomeCtrl.current2.name}}
        </h1>
        <div class="image-container">
          <img alt="" ng-src="{{welcomeCtrl.getImage(welcomeCtrl.current2)}}"/>
        </div>
      </div>

      <div class="image-list" ng-if="welcomeCtrl.showImageList">
        <ul>
          <li ng-repeat="guest in welcomeCtrl.old" class="fade-element-in">
            <img ng-src="{{welcomeCtrl.getImage(guest)}}" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-if="welcomeCtrl.idle" class="screen welcome idle fade-element-in">
  </div>
</div>
