$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */



@font-face {
  font-family: 'arialregular';
  src: url('/assets/fonts/arial/arial_6-webfont.woff2') format('woff2'),
  url('/assets/fonts/arial/arial_6-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'arialregular';
}


// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'admin/guest-form/guest-form';
@import 'admin/guest/guest';
@import 'main/main';
@import 'welcome/welcome';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
