<div class="container">
  <div style="overflow: auto; padding-top: 20px;position: relative; font-size: 25px;text-transform: uppercase;font-weight: bold;color: #00285e;">
    <p class="pull-left" style="width: 50%;">
      <img src="assets/images/tetra.jpg" alt="" class="pull-left" style="max-width: 160px;">
    </p>
    <p class="pull-right" style="width: 50%;text-align: right;line-height: 160px;">
      Registration
    </p>
  </div>
  <hr>
  <form ng-submit="$ctrl.save()" autocomplete="off">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control"
             placeholder="Type name to begin"
             ng-model="$ctrl.form"
             uib-typeahead="guest as $ctrl.something(guest) for guest in $ctrl.getGuests($viewValue)"
             typeahead-editable="false"
             typeahead-loading="loadingLocations"
             typeahead-no-results="noResults"
      />
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>

    </div>
    <div ng-if="$ctrl.form">
      <div class="form-group">
        <label>Tag Id:</label>
        <input type="text" class="form-control" ng-model="$ctrl.form.tagId"/>
      </div>
      <div class="form-group">

        <img ng-if="$ctrl.form.profilePicture"
             ng-src="https://res.cloudinary.com/hydzbrdlq/image/upload/c_scale,w_400/{{$ctrl.form.profilePicture}}.jpg"
             style="max-height: 200px;" alt=""/>
        <img ng-if="!$ctrl.form.profilePicture" src="assets/images/default-user.png" alt=""/>
        <span>{{$ctrl.fileUploadSatus}}</span>
        <br>
        <br>
        <a class="btn btn-danger btn-sm"
           ngf-select="$ctrl.upload($file)"
           name="file"
           ngf-pattern="'image/*'"
           ngf-accept="'image/*'"
           ngf-max-size="20MB">
          Change
        </a>
      </div>
      <div class="form-group" ng-if="false">
        <hr>
        <label>File</label>
        <input type="file"
               nv-file-select
               uploader="$ctrl.uploader"
               accept="image/*;capture=camera"
               options="{ url: '/api/assets' }"/>


        <div class="progress" ng-style="{'visibility': $ctrl.uploader.isUploading ? 'visible':'hidden'}">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': $ctrl.uploader.progress + '%' }"></div>
        </div>

      </div>
      <div class="form-group">
        <hr>
        <input type="submit" class="btn btn-primary" style="background-color: #00285e"/>
        <input type="reset" class="btn btn-default"/>
        <hr>
      </div>
    </div>
  </form>
</div>
