<div class="container">
  <p class="text-right" style="padding-top: 20px;position: relative; font-size: 25px;text-transform: uppercase;font-weight: bold;color: #00285e;">
    <img src="assets/images/sony-logo.png" alt="" class="pull-left" style="max-width: 160px;">
    Registration
  </p>
  <hr>
  <form ng-submit="$ctrl.uploadImage()" autocomplete="off">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control"
             placeholder="Type name to begin"
             ng-model="$ctrl.form"
             uib-typeahead="guest as $ctrl.something(guest) for guest in $ctrl.getGuests($viewValue)"
             typeahead-editable="false"
             typeahead-loading="loadingLocations"
             typeahead-no-results="noResults"
      />
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>

    </div>
    <div ng-if="$ctrl.form">
      <div class="form-group">
        <label>Tag Id:</label>
        <input type="text" class="form-control" ng-model="$ctrl.form.tagId" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="$ctrl.form.email" />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" ng-model="$ctrl.form.phone" />
      </div>
      <div class="form-group">
        <label>Employee No</label>
        <input type="text" class="form-control" ng-model="$ctrl.form.empNo" />
      </div>
      <div class="form-group ng-hide">
        <hr>
        <label>File</label>
        <input type="file"
               nv-file-select
               uploader="$ctrl.uploader"
               accept="image/*;capture=camera"
               options="{ url: '/api/assets' }"/>


        <div class="progress" ng-style="{'visibility': $ctrl.uploader.isUploading ? 'visible':'hidden'}">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': $ctrl.uploader.progress + '%' }"></div>
        </div>

      </div>
      <div class="form-group">
        <hr>
        <input type="submit" class="btn btn-primary" style="background-color: #00285e"/>
        <input type="reset" class="btn btn-default"/>
        <hr>
      </div>
    </div>
  </form>
</div>
